

.primary_btn{
    border-radius: 5px;
    color: white;
    background-color: black;
    cursor: pointer;
    padding: 18px 10px;
    min-width: 220px;
    font-size: 16px;
    border: none;
    font-family: "Poppins", sans-serif;
    height: 44px;
     
}

.outline_btn{
    padding: 18px 10px;
    border: 1px solid black;
    color: black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 8px;
    max-width: 472px;
    font-size: 16px;
    width: 100%;
    margin-top: 7px;
    justify-content: center;
   cursor: pointer;
   font-family: "Poppins", sans-serif;
   height: 44px;
   background-color: white;

}

.content_btn {
    max-width: 472px;
    display: flex;
    align-items: center;
    
}
